MES auto node-red.txt
[{"id":"d608e151.3cb8e8","type":"mqtt-broker","z":"37b99952.5a38ce","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"d1e80b53.05c2f8","type":"mqtt in","z":"37b99952.5a38ce","name":"","topic":"vwp/stiserver","broker":"d608e151.3cb8e8","x":234,"y":223.5,"wires":[["3effb59d.d96592","f19a60ec.ef20c"]]},{"id":"3effb59d.d96592","type":"function","z":"37b99952.5a38ce","name":"MES Behaviour","func":"// Confirm for Register or TaskIndication\nif (msg.payload.indexOf(\"register\") > -1 || msg.payload.indexOf(\"TaskIND\") > -1) {\n    var ma = { payload: \"confirm\" };\n    return ma;\n}\n// Produce or Sleep for TaskRequest\nelse if (msg.payload.indexOf(\"TaskREQ\") > -1) {\n    //var ma1 = { payload: \"sleep\" };\n    var ma1 = { payload: \"produce:task123\" };\n    return ma1;\n}","outputs":1,"noerr":0,"x":620,"y":162.5,"wires":[["bd9c1a10.bd9268"]]},{"id":"bd9c1a10.bd9268","type":"mqtt out","z":"37b99952.5a38ce","name":"","topic":"vwp/STP1001","qos":"","retain":"","broker":"d608e151.3cb8e8","x":892,"y":162,"wires":[]},{"id":"f19a60ec.ef20c","type":"function","z":"37b99952.5a38ce","name":"GUI FIX","func":"if (msg.payload.indexOf(\"MAINT\") > -1) {\n    var ma = { payload: \"manual fix\" };\n    return ma;\n}","outputs":1,"noerr":0,"x":624,"y":270.5,"wires":[["c425d187.446fd8"]]},{"id":"c425d187.446fd8","type":"mqtt out","z":"37b99952.5a38ce","name":"","topic":"STP1001","qos":"","retain":"","broker":"d608e151.3cb8e8","x":879,"y":271,"wires":[]}]