MES-GUI Manual node-red.txt
[{"id":"ae15435a.2385d8","type":"mqtt-broker","z":"f552b2b0.abdb1","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"c89cabad.6e97b8","type":"mqtt in","z":"f552b2b0.abdb1","name":"vwp/STP1001","topic":"vwp/STP1001","broker":"ae15435a.2385d8","x":550,"y":88.5,"wires":[["1a620540.748303"]]},{"id":"ae2d39d5.3ad55","type":"inject","z":"f552b2b0.abdb1","name":"confirm","topic":"","payload":"confirm","payloadType":"str","repeat":"","crontab":"","once":false,"x":218,"y":88.5,"wires":[["af69ddb3.c7aad"]]},{"id":"af69ddb3.c7aad","type":"mqtt out","z":"f552b2b0.abdb1","name":"vwp/STP1001","topic":"vwp/STP1001","qos":"0","retain":"","broker":"ae15435a.2385d8","x":473,"y":145,"wires":[]},{"id":"1a620540.748303","type":"debug","z":"f552b2b0.abdb1","name":"MES 2 DEVICE","active":true,"console":"false","complete":"payload","x":862,"y":88,"wires":[]},{"id":"52864897.2dbeb8","type":"mqtt in","z":"f552b2b0.abdb1","name":"","topic":"vwp/stiserver","broker":"ae15435a.2385d8","x":545,"y":201.5,"wires":[["1a620540.748303"]]},{"id":"59c9476c.aafa38","type":"inject","z":"f552b2b0.abdb1","name":"hello","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":167,"y":288.5,"wires":[["7984edb3.da6c4c"]]},{"id":"d858a718.429df8","type":"inject","z":"f552b2b0.abdb1","name":"","topic":"","payload":"debug true","payloadType":"str","repeat":"","crontab":"","once":false,"x":171,"y":421.5,"wires":[["7984edb3.da6c4c"]]},{"id":"81934242.5250a","type":"mqtt in","z":"f552b2b0.abdb1","name":"STP1001","topic":"STP1001","broker":"ae15435a.2385d8","x":561,"y":364.5,"wires":[["1a620540.748303"]]},{"id":"7984edb3.da6c4c","type":"mqtt out","z":"f552b2b0.abdb1","name":"STP1001","topic":"STP1001","qos":"","retain":"","broker":"ae15435a.2385d8","x":407,"y":366,"wires":[]},{"id":"d099c33e.b69f","type":"inject","z":"f552b2b0.abdb1","name":"manual fix","topic":"","payload":"manual fix","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":357.5,"wires":[["7984edb3.da6c4c"]]},{"id":"a3e533af.3b1b9","type":"inject","z":"f552b2b0.abdb1","name":"produce Task","topic":"","payload":"produce:blabla","payloadType":"str","repeat":"","crontab":"","once":false,"x":221,"y":163.5,"wires":[["af69ddb3.c7aad"]]},{"id":"c2d40540.85448","type":"inject","z":"f552b2b0.abdb1","name":"debug false","topic":"","payload":"debug false","payloadType":"str","repeat":"","crontab":"","once":false,"x":174,"y":488.5,"wires":[["7984edb3.da6c4c"]]},{"id":"70f7cd3f.80243c","type":"inject","z":"f552b2b0.abdb1","name":"IDLE","topic":"","payload":"IDLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":182,"y":560.5,"wires":[["7984edb3.da6c4c"]]},{"id":"daeb119d.b7cf7","type":"inject","z":"f552b2b0.abdb1","name":"PROC","topic":"","payload":"PROC","payloadType":"str","repeat":"","crontab":"","once":false,"x":182,"y":606.5,"wires":[["7984edb3.da6c4c"]]},{"id":"fa04dd0d.38dea","type":"inject","z":"f552b2b0.abdb1","name":"MAINT","topic":"","payload":"MAINT","payloadType":"str","repeat":"","crontab":"","once":false,"x":181,"y":645.5,"wires":[["7984edb3.da6c4c"]]},{"id":"9286d928.e65318","type":"inject","z":"f552b2b0.abdb1","name":"DOWN","topic":"","payload":"DOWN","payloadType":"str","repeat":"","crontab":"","once":false,"x":179,"y":688.5,"wires":[["7984edb3.da6c4c"]]}]