Ringel original node-red.txt
[{"id":"ffe5baee.8627c8","type":"mqtt-broker","z":"1821185c.84a568","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"b7dda70c.ee8228","type":"inject","z":"1821185c.84a568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174,"y":179,"wires":[["4fc580ab.2e5c7"]]},{"id":"4fc580ab.2e5c7","type":"function","z":"1821185c.84a568","name":"CP1001 - register","func":"var msg={payload:\"{\\\"ip:\\\":\\\"192.168.1.101\\\",\\\"status\\\":\\\"IDLE\\\",\\\"name\\\":\\\"CP1001\\\"}\"};\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":179,"wires":[["107d1628.bef6d2","3f3577cc.79664"]]},{"id":"107d1628.bef6d2","type":"debug","z":"1821185c.84a568","name":"","active":true,"console":"false","complete":"false","x":964,"y":179,"wires":[]},{"id":"87eefd89.febc98","type":"inject","z":"1821185c.84a568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174,"y":259,"wires":[["84461458.05394"]]},{"id":"84461458.05394","type":"function","z":"1821185c.84a568","name":"CP1001 - TaskREQ ","func":"var msg={payload:\"CP1001:TaskREQ\"};\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":259,"wires":[["107d1628.bef6d2","3f3577cc.79664"]]},{"id":"3f3577cc.79664","type":"mqtt out","z":"1821185c.84a568","name":"","topic":"vwp/stiserver","qos":"0","retain":"false","broker":"ffe5baee.8627c8","x":964,"y":379,"wires":[]},{"id":"118fd744.04b461","type":"inject","z":"1821185c.84a568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174,"y":319,"wires":[["ed4d0dbe.ab5d5"]]},{"id":"ed4d0dbe.ab5d5","type":"function","z":"1821185c.84a568","name":"CP1001 - TaskIND:done","func":"var msg={payload:\"CP1001:TaskIND:red=1|green=1|blue=1|yellow=1:done\"};\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":319,"wires":[["3f3577cc.79664","107d1628.bef6d2"]]},{"id":"7c5151af.964398","type":"inject","z":"1821185c.84a568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174,"y":379,"wires":[["aff1a259.33dd58"]]},{"id":"aff1a259.33dd58","type":"function","z":"1821185c.84a568","name":"CP1001 - StateIND ->DOWN","func":"var msg={payload:\"CP1001:StateIND:State:->DOWN\"};\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":379,"wires":[["3f3577cc.79664","107d1628.bef6d2"]]},{"id":"59d868c5.449028","type":"comment","z":"1821185c.84a568","name":"*** Dieser Teil modelliert Nachrichten Tool >>> MES ***","info":"","x":294,"y":99,"wires":[]},{"id":"d6f3e7d3.18d8b","type":"inject","z":"1821185c.84a568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174,"y":539,"wires":[["dd85c7bc.0d9948"]]},{"id":"dd85c7bc.0d9948","type":"function","z":"1821185c.84a568","name":"confirm","func":"var msg={payload:\"confirm\"};\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":539,"wires":[["dc4ace33.be49e","f3f18c98.c808f"]]},{"id":"dc4ace33.be49e","type":"mqtt out","z":"1821185c.84a568","name":"","topic":"vwp/CP1001","qos":"","retain":"","broker":"ffe5baee.8627c8","x":714,"y":539,"wires":[]},{"id":"ddd7d008.d00aa","type":"function","z":"1821185c.84a568","name":"sleep","func":"var msg={payload:\"sleep\"};\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":599,"wires":[["dc4ace33.be49e","f3f18c98.c808f"]]},{"id":"26caa182.4eb3ae","type":"inject","z":"1821185c.84a568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174,"y":599,"wires":[["ddd7d008.d00aa"]]},{"id":"435cfcff.8f0d5c","type":"inject","z":"1821185c.84a568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174,"y":659,"wires":[["daef596b.99e79"]]},{"id":"daef596b.99e79","type":"function","z":"1821185c.84a568","name":"produce:rec0815","func":"var msg={payload:\"produce:rec0815\"};\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":659,"wires":[["dc4ace33.be49e","f3f18c98.c808f"]]},{"id":"18da90d5.e2c46f","type":"comment","z":"1821185c.84a568","name":"*** Dieser Teil modelliert Nachrichten Tool <<< MES ***","info":"","x":324,"y":479,"wires":[]},{"id":"f3f18c98.c808f","type":"debug","z":"1821185c.84a568","name":"","active":true,"console":"false","complete":"false","x":714,"y":639,"wires":[]}]