node-red/Node-Red-Testing.txt
[{"id":"ae15435a.2385d8","type":"mqtt-broker","z":"f552b2b0.abdb1","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"c89cabad.6e97b8","type":"mqtt in","z":"f552b2b0.abdb1","name":"vwp/STP1001","topic":"vwp/STP1001","broker":"ae15435a.2385d8","x":466,"y":62.5,"wires":[["1a620540.748303"]]},{"id":"ae2d39d5.3ad55","type":"inject","z":"f552b2b0.abdb1","name":"confirm","topic":"","payload":"confirm","payloadType":"str","repeat":"","crontab":"","once":false,"x":112,"y":65.5,"wires":[["af69ddb3.c7aad"]]},{"id":"af69ddb3.c7aad","type":"mqtt out","z":"f552b2b0.abdb1","name":"vwp/STP1001","topic":"vwp/STP1001","qos":"0","retain":"","broker":"ae15435a.2385d8","x":305,"y":61,"wires":[]},{"id":"1a620540.748303","type":"debug","z":"f552b2b0.abdb1","name":"MES 2 DEVICE","active":true,"console":"false","complete":"payload","x":683,"y":62,"wires":[]},{"id":"52864897.2dbeb8","type":"mqtt in","z":"f552b2b0.abdb1","name":"","topic":"vwp/stiserver","broker":"ae15435a.2385d8","x":468,"y":110.5,"wires":[["1a620540.748303","fe12c0ac.15e43","408f56f5.3e79c8"]]},{"id":"59c9476c.aafa38","type":"inject","z":"f552b2b0.abdb1","name":"hello","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":207.5,"wires":[["7984edb3.da6c4c"]]},{"id":"d858a718.429df8","type":"inject","z":"f552b2b0.abdb1","name":"","topic":"","payload":"debug true","payloadType":"str","repeat":"","crontab":"","once":false,"x":127,"y":296.5,"wires":[["7984edb3.da6c4c"]]},{"id":"81934242.5250a","type":"mqtt in","z":"f552b2b0.abdb1","name":"STP1001","topic":"STP1001","broker":"ae15435a.2385d8","x":459,"y":157.5,"wires":[["1a620540.748303"]]},{"id":"7984edb3.da6c4c","type":"mqtt out","z":"f552b2b0.abdb1","name":"STP1001","topic":"STP1001","qos":"","retain":"","broker":"ae15435a.2385d8","x":459,"y":203,"wires":[]},{"id":"d099c33e.b69f","type":"inject","z":"f552b2b0.abdb1","name":"manual fix","topic":"","payload":"manual fix","payloadType":"str","repeat":"","crontab":"","once":false,"x":124,"y":252.5,"wires":[["7984edb3.da6c4c"]]},{"id":"a3e533af.3b1b9","type":"inject","z":"f552b2b0.abdb1","name":"produce Task","topic":"","payload":"produce:blabla","payloadType":"str","repeat":"","crontab":"","once":false,"x":128,"y":106.5,"wires":[["af69ddb3.c7aad"]]},{"id":"c2d40540.85448","type":"inject","z":"f552b2b0.abdb1","name":"debug false","topic":"","payload":"debug false","payloadType":"str","repeat":"","crontab":"","once":false,"x":137,"y":339.5,"wires":[["7984edb3.da6c4c"]]},{"id":"70f7cd3f.80243c","type":"inject","z":"f552b2b0.abdb1","name":"IDLE","topic":"","payload":"IDLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":227,"y":430.5,"wires":[["7984edb3.da6c4c"]]},{"id":"daeb119d.b7cf7","type":"inject","z":"f552b2b0.abdb1","name":"PROC","topic":"","payload":"PROC","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":473.5,"wires":[["7984edb3.da6c4c"]]},{"id":"fa04dd0d.38dea","type":"inject","z":"f552b2b0.abdb1","name":"MAINT","topic":"","payload":"MAINT","payloadType":"str","repeat":"","crontab":"","once":false,"x":231,"y":514.5,"wires":[["7984edb3.da6c4c"]]},{"id":"9286d928.e65318","type":"inject","z":"f552b2b0.abdb1","name":"DOWN","topic":"","payload":"DOWN","payloadType":"str","repeat":"","crontab":"","once":false,"x":232,"y":561.5,"wires":[["7984edb3.da6c4c"]]},{"id":"9929fb37.637b5","type":"inject","z":"f552b2b0.abdb1","name":"","topic":"","payload":"emergency shutdown","payloadType":"str","repeat":"","crontab":"","once":false,"x":168,"y":381.5,"wires":[["7984edb3.da6c4c"]]},{"id":"1af318af.fa1467","type":"inject","z":"f552b2b0.abdb1","name":"","topic":"","payload":"sleep","payloadType":"str","repeat":"","crontab":"","once":false,"x":109,"y":145.5,"wires":[["af69ddb3.c7aad"]]},{"id":"fe12c0ac.15e43","type":"function","z":"f552b2b0.abdb1","name":"MES Behaviour","func":"// Confirm for Register or TaskIndication\nif (msg.payload.indexOf(\"register\") > -1 || msg.payload.indexOf(\"TaskIND\") > -1) {\n    var ma = { payload: \"confirm\" };\n    return ma;\n}\n// Produce or Sleep for TaskRequest\nelse if (msg.payload.indexOf(\"TaskREQ\") > -1) {\n    //var ma1 = { payload: \"sleep\" };\n    var ma1 = { payload: \"produce:task123\" };\n    return ma1;\n}","outputs":1,"noerr":0,"x":718,"y":473.5,"wires":[["af69ddb3.c7aad"]]},{"id":"408f56f5.3e79c8","type":"function","z":"f552b2b0.abdb1","name":"GUI FIX","func":"if (msg.payload.indexOf(\"MAINT\") > -1) {\n    var ma = { payload: \"manual fix\" };\n    return ma;\n}","outputs":1,"noerr":0,"x":470,"y":471.5,"wires":[["7984edb3.da6c4c"]]}]